body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

.hello{
    font-size: 50px;
   
   
}
.name{
    color: rgba(255, 94, 0, 0.966);
    font-size: 30px;
   
  
}
.half-width{
    width: 40%;
    float: left;
    margin: 20px;
    padding: 20px;
}
.half-width img{
    width: 80%;
    margin-left: 10px;
    margin-top: -80px;
}
.buttonstyle{
    text-decoration: none;
    font-size: 20px;
    background-color:rgba(255, 94, 0, 0.966);
    margin:5px;
    padding: 7px;
    color: white;
    border-radius: 3px;

}
.about{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    
}
.clearDiv{
    clear: both;
}
.mywork{
    width: 30%;
    float: left;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 7px 30px grey;
    border-radius: 30px;
}
.workpic{
    width: 70%;
}
.latestWork{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.work-section{
    background-color: rgba(211, 216, 218, 0.562);
    height: 500px;
}
.inquiry{
   background-image: linear-gradient(#5D69E9, #4225B6
   );
    width: 280px;
   margin-left: 550px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    color:white;
    display: inline-block;
}
.chat{
    border:1px solid orange;
    background-color: rgba(255, 94, 0, 0.966);
    border-radius: 5px;
    padding: 5px;
    color:white;
    margin-left: -80px;
}
footer{
    text-align: center;
}
.icon img{
    width: 2%;
    margin: 5px;
   
}